.content {
  display: flex;
}
.postcard {
  margin: 20px 60px;
}
.postlist {
  display: block;
}
.sidebar {
  height: 100%;
}
.form {
  width: 100%;
  margin: 20px 60px;
}
.tag {
  margin: 5px;
}
.delete {
  border: none;
  background-color: white;
}
.inputtag {
  width: 80%;
}
